<div class="container" id="show">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>MyProfile</h1>
            </div>
            
            <h4><%= @user.name %></h4>
            <h5><%= @user.email %></h5>
        </div>
    </div>
</div>