<div class="container" id="about">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>About Us</h1>
            </div>
            
            <h4>
                MrTimeZone provides local time for over 35,000 locations (representing all countries) around the World. 
            </h4>
            
            
        </div>
    </div>
</div>


