<div class="container" id="contact">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Contact Us</h1>
            </div>
            
            <h4>
                Get in touch with us by using any of the following contact point
            </h4>
           <div class="blog-info">
				<div class="blog-header">
					<h5 class="blog-title">Email Us</h5>
				</div>
				
				<div class="blog-body">
    				<div class="row">
    				    <div class="col-xs-1">
    				        <%=image_tag("emel.png", alt: "Email")%>
    				    </div>
    				    
                        <div class="col-xs-6">
    				        <h1>Email us your enquiry at <b>admin@mrtimezone.com.my</b></h1>
    				    </div>
    				</div>
    			</div>
    		</div>
    		
    		  <div class="blog-info">
				<div class="blog-header">
					<h5 class="blog-title">Call Us</h5>
				</div>
				
				<div class="blog-body">
    				<div class="row">
    				    <div class="col-xs-1">
    				        <%=image_tag("call.png", alt: "Call")%>
    				    </div>
    				    
                        <div class="col-xs-6">
    				        <h1>Call us at <b>03-61881456/7/8</b></h1>
    				    </div>
    				</div>
    			</div>
    		</div>
    		
			
			
        </div>
    </div>
</div>