/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 @import "bootstrap-sprockets";
 //@import "bootstrap";

#nav {
 h1{
  display: inline-block;
 }
 
 ul{
  display: inline-block;
 }
}

#footer{
  background: #f7f7f7;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  padding: 7px;
  width: 100%;
  margin-top: 20px;
 
}

#signup {
 h1{
   font-family: "Georgia";
   font-weight: "bold";
   font-size: 40px;
 }
 
 h2{
   font-family: "Georgia";
   font-weight: "bold";
   font-size: 30px;
 }
 
 h3{
   color: blue;
   font-family: "Georgia";
   font-weight: "bold";
   font-size: 30px;
   text-align: center;
 }
}

#signin {
 h1{
   font-family: "Georgia";
   font-weight: "bold";
   font-size: 50px;
 }
}

#listing {
 h1{
   font-family: "Georgia";
   font-weight: "bold";
   font-size: 40px;
 }
}

#show {
 
 background-color: #e7ddff;
 
 h1{
   font-family: "Georgia";
   font-weight: "bold";
   font-size: 40px;
 }
 h4 {
  font-family: "Serif";
  font-style: bold;
  font-size: 25px;
 }
 
 h5 {
  font-family: "Serif";
  font-style: italic;
  font-size: 20px;
 }
}

#blog {
 background-color:#e7ddff;
 
 header{
  border: 1px solid;
  h5{
   color: white;
  }
 }
 
 body{
		border: 1px solid;
		background: white;
 }
}

.blog-info{
 margin-top:10px;
	background-color: #5b90bf;
	}
	.blog-header{
		border: 1px solid #5e61f4;
		h5.blog-title {
		 margin-left: 10px;
		 font-family: "Georgia";
			color: white;
			font-size: 20px;
		}
	}
	.blog-body{
	 
		border: 1px solid #5e61f4;
		background: white;
		h1 {
		 margin-left: 10px;
		 font-size:15px;
		}
	}
	
	#about {
	 background-color:#e7ddff;
	 width: 350px;
	 h1{
   font-family: "Georgia";
   font-weight: "bold";
   font-size: 50px;
 }
	 
	 h4 {
  font-family: "Serif";
  font-style: bold;
  font-size: 15px;
 }
 
	}

 
